:root {
    --primary-color: #333333; /* Dark Gray */
    --secondary-color: #666666; /* Gray */
    --background-color: #000000; /* Black */
    --section-background-color: #FFFFFF; /* White for sections */
    --text-color: #000000; /* Black */
    --accent-color: #fd0003; /* Red */
    --header-text-color: #FFFFFF; /* White for header text */
    --neon-color: #FFFFFF; /* White for neon effect */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0; /* Ensure no margin around the body */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.top-bar {
    background-color: var(--primary-color);
    color: var(--header-text-color);
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.menu-icon {
    cursor: pointer;
    font-size: 1.5em;
}

.menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.menu.show {
    display: flex;
}

.menu-item {
    color: var(--header-text-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: var(--accent-color);
}

header {
    position: relative;
    width: 100vw; /* Ensure the header takes the full viewport width */
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: url('IMG_0033.jpeg') no-repeat center center/cover;
    color: var(--header-text-color);
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-bottom: 5px solid var(--neon-color); /* Neon border */
    box-shadow: 0 0 10px var(--neon-color), 0 0 20px var(--neon-color), 0 0 30px var(--neon-color), 0 0 40px var(--neon-color); /* Neon glow effect */
}

.header-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); /* Removed semi-transparent overlay */
    z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: var(--header-text-color); /* Ensure the text is white */
}

header p {
    margin: 10px 0;
    font-size: 1.5em;
    color: var(--header-text-color); /* Ensure the text is white */
}

header a, .contact-info a, #about a, a {
    color: var(--text-color);
}

header a:hover, .contact-info a:hover, #about a:hover, a:hover {
    color: var(--accent-color);
}

/* Section About */
#about {
    background: var(--section-background-color);
    padding: 20px;
    margin: 20px 0; /* Adjusted margin to match other sections */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    text-align: left;
    animation: slideIn 1s ease-in-out;
}

#about h2 {
    font-size: 2.5em;
    color: var(--text-color); /* Ensure the text is black */
}

#about p {
    font-size: 1.2em;
    line-height: 1.6;
    color: var(--text-color); /* Ensure the text is black */
}

#about a {
    color: var(--accent-color);
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}

/* Sections principales */
main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    text-align: left;
}

/* Sections Articles & Projets */
section {
    background: var(--section-background-color);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1.5s ease-in-out;
}

h2 {
    color: var(--text-color); /* Ensure the text is black */
    margin-bottom: 20px;
    font-size: 2.5em;
}

/* Articles */
.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-item {
    margin: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    flex: 1;
    background: var(--section-background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 250px; /* Set a minimum height for all items */
    overflow: hidden; /* Ensure content doesn't overflow */
    position: relative; /* For positioning child elements */
}

.article-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--primary-color);
}

.article-title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-color); /* Dark Gray */
    margin-bottom: 5px; /* Reduced margin */
}

.article-title a {
    color: var(--primary-color); /* Dark Gray */
    text-decoration: none;
    transition: color 0.3s;
}

.article-title a:hover {
    color: var(--accent-color); /* Dark Red */
}

.article-description {
    font-size: 1em;
    color: var(--secondary-color); /* Gray */
    margin-top: 5px; /* Reduced margin */
    text-align: left;
    line-height: 1.5;
}

.form-group {
    display: none; /* Hide form-group elements */
}

/* Liens */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.2em;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Connect Section */
#connect {
    background: var(--section-background-color);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    text-align: left;
    animation: fadeIn 1.5s ease-in-out;
}

.connect-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.connect-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background: var(--section-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.connect-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--primary-color);
}

.large-widget {
    grid-column: span 1;
    height: 100px;
}

.small-widget {
    grid-column: span 2;
    height: 50px;
}

.connect-icon {
    width: 40px;
    height: 40px;
    object-fit: contain; /* Ensure the image fits within the container without distortion */
}

.connect-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1em;
}

.connect-item a:hover {
    color: var(--accent-color);
}

/* Footer */
footer {
    background: var(--primary-color);
    color: var(--header-text-color);
    padding: 10px;
    font-size: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
