/* Style global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
}

/* En-tête */
header {
    background: #333;
    color: white;
    padding: 20px;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header div {
    margin-top: 10px;
}

header p {
    margin: 5px 0;
}

header a {
    color: #007BFF;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/* Section About */
#about {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

/* Sections principales */
main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
}

/* Sections Articles & Projets */
section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007BFF;
    margin-bottom: 20px;
}

/* Liens */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #333;
    color: white;
    padding: 10px;
    font-size: 0.9em;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer a {
    color: #007BFF;
}
